{% extends "layout/default.twig" %}

{% block title %}Admin - Dashboard{% endblock %}

{% block content %}
	<h1>Admin - Dashboard</h1>

	<nav>
		<h2>Menu</h2>
		<ul>
			<li>
				<a href="{{ path('getAdminArticle') }}">Article</a>
			</li>
			<li>
				<a href="{{ path('getAdminUser') }}">User</a>
			</li>

			<!-- I create the link that will call the route associated to the rendering of the Tag page -->
			<li>
				<a href="{{ path('getAdminTag') }}">Tag</a>
			</li>

		</ul>
	</nav>
{% endblock %}